@font-face {
  font-family: "Mona Sans";
  src: url("src/assets/fonts/Mona Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("src/assets/fonts/Mona Sans/Mona-Sans.woff2") format("woff2-variations");
  fontweight: 200 900;
  fontstretch: 75% 125%;
}


