/* @import './bs-norm.css';
@import './globals.css'; */
@import "./normalize.css";
@import "./props.css";

@font-face {
  font-family: "Mona Sans";
  src: url("src/assets/fonts/Mona Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("src/assets/fonts/Mona Sans/Mona-Sans.woff2") format("woff2-variations");
  fontweight: 200 900;
  fontstretch: 75% 125%;
}

*, :after, :before {
    box-sizing: border-box;
}

/* Normlize */

p, ul, ol, dl{
  margin-top: 0;
  margin-bottom: 1rem;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

input[type=file]{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  color: inherit;
}
a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: inline-block;
}
svg{
  display: block;
  fill: currentColor;
}
body {
  text-align: left;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  background-color: var(--gray-1);
    color: var(--gray-12);
}


